<div class="text-center">
	<h2><b>Classy and sexy waist beads</b></h2>
	<p>Find your perfect match today.</p>

	<!--<= form_tag search_path, method: :get do %>-->
		<div class="row">
			<div class="col-md-12">
				<!--<= submit_tag "Search", class: "btn btn-primary" %>-->
			</div>
		</div>
	<!--< end %>-->
</div>

</br>

<div class="col-md-12">
	<h2>New Waist Beads</h2>
	<p>Beads to match your flar, personality, and favorite colors.</p>
</div>

<br>
          
	<% @beads.each do |bead| %>
		
		<div class="col-md-4">
    	<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= image_tag bead.photos[0].image.url(:medium) if bead.photos.length > 0 %>
				</div>
				<div class="panel-body">
					<div><%= link_to bead.listing_name, bead %></div>
					<div>Size: <%= bead.waist_size %>" Waist <span class="pull-right"><b>$<%= bead.price %></b></span></div>	
				</div>
			</div>
		</div>

	<% end %>
</div>